<h3>Various Samples:</h3>

{{#paper-content class="md-whiteframe-z1 list-demo"}}
  {{#paper-list}}
    {{#paper-item action="transitionTo" param="samples.integrations"}}Integrations List{{/paper-item}}
    {{#paper-item action="transitionTo" param="samples.form"}}Form{{/paper-item}}
  {{/paper-list}}
{{/paper-content}}
