{{#samples/integrations/generic-connect-button integration=integration}}
  <button {{action 'showModal'}}>Integrate {{integration.identifier}}</button>
{{/samples/integrations/generic-connect-button}}
