<div class="md-toolbar-tools">
  <div class="logo">
    <strong>
      {{#link-to 'index'}}Ember Kitchen Sink{{/link-to}}
    </strong>
  </div>
</div>

{{#link-to 'samples'}}Samples{{/link-to}}
{{#link-to 'spikes'}}Spikes{{/link-to}}

{{outlet}}
